.header {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.headerImage {
  max-width: 635px;
  margin-bottom: 42px;
}

.headerContent {
  max-width: 590px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 28px;
  text-align: left;
  width: 100%;
  max-width: 392px;
}

.subtitle {
  line-height: 28px;
  text-align: left;
  margin-bottom: 32px;
}

@media screen and (min-width: 1190px) {
  .header {
    margin: 0 auto 106px;
  }

  .title {
    font-size: 56px;
    line-height: 68px;
  }

  .subtitle {
    line-height: 36px;
    font-size: 20px;
  }
}
