.footer {
  width: 100%;
  height: 175px;
  background-image: url("../../images/Wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 500px) {
  .footer {
    background-image: url("../../images/Wave-desktop.svg");
    background-size: cover;
  }
}
